.heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;

    // give text some color
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;

    letter-spacing: 2px;
    transition: all 0.2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.2);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}